# DO NOT REMOVE OR CHANGE THIS LINE - PHP_SCRIPTIFY #
[Unit]
Description=Custom Description

[Service]
Type=simple
EnvironmentFile=/etc/scriptify/test.env
ExecStart=PHP_BINARY CURDIR/scripts/scriptify run "ByJG\\Scriptify\\Sample\\TryMe::ping" --bootstrap "vendor/autoload.php" --rootdir "CURDIR" --args 1 --args 2 --daemon
Nice=5

[Install]
WantedBy=multi-user.target
